node_modules/
dist/
release/
datos/

*.db
*.db-wal
*.db-shm
*.sqlite
*.sqlite3

.idea/
.vscode/

movil/android/.gradle/
movil/android/build/
movil/android/app/build/
movil/android/local.properties
movil/android/.idea/

.env
.env.*